<section class="offer-three offer-three-intro">
  <div class="grid-container">
    <div class="offers-image"><%= image_tag "offer3_big.svg", :alt => t(:offerThreeTitle) %></div>
      <h2 class="offers-title"><%= t(:offerThreeTitle) %></h2>
      <p class="offers-intro"><%= t(:offerThreeIntro) %></p>
    </div>
  </section>
  <section id="offer-three-advantages" class="advantages offer-one-advantages">
    <div class="grid-container">
      <ul class="advantages-list callout-list">
        <li class="callout-item offer3_advantage1-image">
          <img src="/images/offer2_advantage1.svg" alt="offer3_advantage1-image" />
          <h3 class="callout-title"><%= t(:offerOneAdvantagesOneTitle) %></h3>
          <p class="callout-desc"><%= t(:offerOneAdvantagesOneDesc) %></p>
        </li>
        <li class="callout-item offer3_advantage2-image">
          <img src="/images/offer2_advantage2.svg" alt="offer3_advantage2-image" />
          <h3 class="callout-title"><%= t(:offerOneAdvantagesTwoTitle) %></h3>
          <p class="callout-desc"><%= t(:offerOneAdvantagesTwoDesc) %></p>
        </li>
        <li class="callout-item offer3_advantage3-image">
          <img src="/images/offer2_advantage3.svg" alt="offer3_advantage3-image" />
          <h3 class="callout-title"><%= t(:offerOneAdvantagesThreeTitle) %></h3>
          <p class="callout-desc"><%= t(:offerOneAdvantagesThreeDesc) %></p>
        </li>
      </ul>
      <ul class="advantages-list callout-list">
        <li class="callout-item offer3_advantage4-image">
          <img src="/images/offer2_advantage4.svg" alt="offer3_advantage4-image" />
          <h3 class="callout-title"><%= t(:offerOneAdvantagesFourTitle) %></h3>
          <p class="callout-desc"><%= t(:offerOneAdvantagesFourDesc) %></p>
        </li>
        <li class="callout-item offer3_advantage5-image">
          <img src="/images/offer2_advantage5.svg" alt="offer3_advantage5-image" />
          <h3 class="callout-title"><%= t(:offerOneAdvantagesFiveTitle) %></h3>
          <p class="callout-desc"><%= t(:offerOneAdvantagesFiveDesc) %></p>
        </li>
        <li class="callout-item offer3_advantage6-image">
          <img src="/images/offer2_advantage6.svg" alt="offer3_advantage6-image" />
          <h3 class="callout-title"><%= t(:offerOneAdvantagesSixTitle) %></h3>
          <p class="callout-desc"><%= t(:offerOneAdvantagesSixDesc) %></p>
        </li>
      </ul>
    </div>
  </section>
<section class="offer-three-services">
  <div class="grid-container">
    <h3><%= t(:offerThreeServicesTitle) %></h3>
    <div class="offers-bulletpoints">
      <div class="flex-item">
        <ul>
          <li><%= t(:offerThreeServices1) %></li>
          <li><%= t(:offerThreeServices2) %></li>
          <li><%= t(:offerThreeServices3) %></li>
          <li><%= t(:offerThreeServices4) %></li>
          <li><%= t(:offerThreeServices5) %></li>
        </ul>
      </div>
      <div class="flex-item">
        <ul>
          <li><%= t(:offerThreeServices6) %></li>
          <li><%= t(:offerThreeServices7) %></li>
          <li><%= t(:offerThreeServices8) %></li>
          <li><%= t(:offerThreeServices9) %></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="offers-three-faq" class="offer-faq">
    <div class="grid-container">
      <h2 class="offers-faq-title"><%= t(:offerThreeFaqTitle) %></h2>
      <div class="offers-faq-container">
        <article class="offers-faq-item">
          <h4 class="offers-faq-list-title expandable-title"><a href="#" slide-toggle=".offers-faq-list-answer"><%= t(:offerThreeFaqVerOneTitle) %></a></h4>
          <p class="offers-faq-list-answer"><%= t(:offerThreeFaqVerOneText) %></p>
        </article>
        <article class="offers-faq-item">
          <h4 class="offers-faq-list-title expandable-title"><a href="#" slide-toggle=".offers-faq-list-answer"><%= t(:offerThreeFaqVerTwoTitle) %></a></h4>
          <p class="offers-faq-list-answer"><%= t(:offerThreeFaqVerTwoText) %></p>
        </article>
        <article class="offers-faq-item">
          <h4 class="offers-faq-list-title expandable-title"><a href="#" slide-toggle=".offers-faq-list-answer"><%= t(:offerThreeFaqVerTreeTitle) %></a></h4>
          <p class="offers-faq-list-answer"><%= t(:offerThreeFaqVerTreeText) %></p>
        </article>
        <article class="offers-faq-item">
          <h4 class="offers-faq-list-title expandable-title"><a href="#" slide-toggle=".offers-faq-list-answer"><%= t(:offerThreeFaqVerFourTitle) %></a></h4>
          <p class="offers-faq-list-answer"><%= t(:offerThreeFaqVerFourText) %></p>
        </article>
        <article class="offers-faq-item">
          <h4 class="offers-faq-list-title expandable-title"><a href="#" slide-toggle=".offers-faq-list-answer"><%= t(:offerThreeFaqVerFiveTitle) %></a></h4>
          <p class="offers-faq-list-answer"><%= t(:offerThreeFaqVerFiveText) %></p>
        </article>
        <article class="offers-faq-item">
          <h4 class="offers-faq-list-title expandable-title"><a href="#" slide-toggle=".offers-faq-list-answer"><%= t(:offerThreeFaqVerSixTitle) %></a></h4>
          <p class="offers-faq-list-answer"><%= t(:offerThreeFaqVerSixText) %></p>
        </article>
        <article class="offers-faq-item">
          <h4 class="offers-faq-list-title expandable-title"><a href="#" slide-toggle=".offers-faq-list-answer"><%= t(:offerThreeFaqAllOneTitle) %></a></h4>
          <p class="offers-faq-list-answer"><%= t(:offerThreeFaqAllOneText) %></p>
        </article>
        <article class="offers-faq-item">
          <h4 class="offers-faq-list-title expandable-title"><a href="#" slide-toggle=".offers-faq-list-answer"><%= t(:offerThreeFaqAllTwoTitle) %></a></h4>
          <p class="offers-faq-list-answer"><%= t(:offerThreeFaqAllTwoText) %></p>
        </article>
        <article class="offers-faq-item">
          <h4 class="offers-faq-list-title expandable-title"><a href="#" slide-toggle=".offers-faq-list-answer"><%= t(:offerThreeFaqAllTreeTitle) %></a></h4>
          <p class="offers-faq-list-answer"><%= t(:offerThreeFaqAllTreeText) %></p>
        </article>
        <article class="offers-faq-item">
          <h4 class="offers-faq-list-title expandable-title"><a href="#" slide-toggle=".offers-faq-list-answer"><%= t(:offerThreeFaqAllFourTitle) %></a></h4>
          <p class="offers-faq-list-answer"><%= t(:offerThreeFaqAllFourText) %></p>
        </article>
        <article class="offers-faq-item">
          <h4 class="offers-faq-list-title expandable-title"><a href="#" slide-toggle=".offers-faq-list-answer"><%= t(:offerThreeFaqAddOneTitle) %></a></h4>
          <p class="offers-faq-list-answer"><%= t(:offerThreeFaqAddOneText) %></p>
        </article>
        <article class="offers-faq-item">
          <h4 class="offers-faq-list-title expandable-title"><a href="#" slide-toggle=".offers-faq-list-answer"><%= t(:offerThreeFaqAddTwoTitle) %></a></h4>
          <p class="offers-faq-list-answer"><%= t(:offerThreeFaqAddTwoText) %></p>
        </article>
        <article class="offers-faq-item">
          <h4 class="offers-faq-list-title expandable-title"><a href="#" slide-toggle=".offers-faq-list-answer"><%= t(:offerThreeFaqAddTreeTitle) %></a></h4>
          <p class="offers-faq-list-answer"><%= t(:offerThreeFaqAddTreeText) %></p>
        </article>
      </div>
  </div>
</section>

<section class="offer-contact">
  <div class="grid-container">
    <h2 class="offer-three-contact-title"><%= t(:offerThreeContactTitle) %></h2>
    <p class="home-contact-desc"><%= t(:offerThreeContactDesc) %></p>
    <form id="offer-three-contact-form" name="offer-three-contact-form" class="offers-contact-container" data-loading-message="<%= t(:offerThreeLoadingMessage) %>" data-success-message="<%= t(:offerThreeSuccessMessage) %>">
      <div class="offer-three-contact-form">
        <input title="<%= t(:homeContactYourFirstNameTitle) %>" type="text" name="vorname" class="contact-input" placeholder="<%= t(:homeContactYourFirstName) %>" required>
        <input title="<%= t(:homeContactYourNameTitle) %>" type="text" name="nachname" class="contact-input" placeholder="<%= t(:homeContactYourName) %>" required>
        <input title="<%= t(:homeContactYourFirmTitle) %>" type="text" name="firma" class="contact-input" placeholder="<%= t(:homeContactYourFirm) %>" required>
        <input type="email" name="email" class="contact-input" placeholder="<%= t(:homeContactYourEmail) %>" required>
        <input type="text" name="phone" placeholder="<%= t(:homeContactYourPhone) %>" class="contact-input" required>
        <textarea title="<%= t(:homeContactYourMessageTitle) %>" id="message" name="message" cols="30" rows="6" class="contact-textarea" placeholder="<%= t(:homeContactYourMessage) %>" required></textarea>
      </div>
      <label class="appuio-contact-button button-progress">
        <input type="submit" class="button is-round" value="<%= t(:homeContactSend) %>">
      </label>
      <div class="home-feedback-container">
        <p class="home-feedback"></p>
      </div>
    </form>
  </div>
</section>
