---
title: Story behind APPUiO
---
<%= partial "partials/github" %>
<header class="header-container" role="banner">
  <div class="grid-container">
    <%= partial "partials/nav" %>
  </div>
</header>

<main class="main-container" role="main">
  <section id="title-section" class="story">
    <h2 class="story-title"><%= t(:storyBehindAPPUiOTitle) %></h2>
     <div class="grid-container">
          <p class="story-intro"><%= t(:storyBehindAPPUiOIntroText) %></p>
        </div>
  </section>

  <section class="story-text">
      <div class="grid-container">
        <p class="story-intro"><%= t(:storyBehindAPPUiOPartnerText) %></p>
      </div>
    </section>
</main>

<%= partial "partials/footer" %>
