---
title: Story behind APPUiO
---
<%= partial "partials/github" %>
<header class="header-container" role="banner">
  <div class="grid-container">
    <%= partial "partials/nav" %>
  </div>
</header>

<main class="main-container" role="main">
  <section id="title-section" class="home-hero">
    <h2 class="offers-title"><%= t(:storyBehindAPPUiOTitle) %></h2>
  </section>

  <section id="title-section" class="home-advantages">
    <p class="offers-intro"><%= t(:storyBehindAPPUiOIntroText) %></p>
  </section>
</main>

<%= partial "partials/footer" %>
